pkgbase = aptpac-git
	pkgdesc = a pacman wrapper with syntax from debian's apt
	pkgver = 3.3.0
	pkgrel = 1
	url = https://github.com/FascodeNet/aptpac
	arch = any
	license = WTFPL
	makedepends = git
	conflicts = apt
	conflicts = apt-git
	conflicts = aptpac
	source = git://github.com/FascodeNet/aptpac.git
	md5sums = SKIP

pkgname = aptpac-git

